<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><?=$blog['title']?></title>
</head>
<body>
    
    <h1><?=$blog['title']?></h1>
    <p>浏览量：<span id="display"></span></p>
    <p><?=$blog['content']?></p>

</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    // 更新和获取浏览量
    // 获取当前日志的ID
    var id = "<?=$blog['id']?>";
    // 定义接口地址
    var url = "/blog/display?id=" + id;
    // 请求这个地址
    $.ajax({
        type:"GET",
        url:url,
        success:function(data)
        {
            // 把返回的浏览量放到页面
            $("#display").html(data);
        }
    });

</script>